/* General styles for the welcome page */
.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0f2027, #203a43, #2c5364);
    padding:  20px;
    box-sizing: border-box;
  }
  
 
  
  .welcome-title {
    font-size: 2.5em;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .welcome-text {
    font-size: 1.2em;
    color: #ffffff;
    margin-bottom: 30px;
  }
  
  .explore-button {
    background-color: #4caf50;
    color: white;
    font-size: 1.1em;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .explore-button:hover {
    background-color: #388e3c;
  }
  
  /* Mobile responsiveness */
  @media (max-width: 600px) {
    .welcome-title {
      font-size: 2em;
    }
  
    .welcome-text {
      font-size: 1em;
    }
  
    .explore-button {
      font-size: 1em;
      padding: 12px 25px;
    }
  }
  